doctype html
html
    head
    meta(charset = 'utf-8')    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css")
    //- link(rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css")
    //- <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
    title Blue Cross
    body
        header
            .header-container
                img.logo(
                    src=require("./images/veterinarian-hospital.png")
                    alt="cross"
                    width="64px"
                    height="64px")                
                input#menu-checkbox(type="checkbox")
                nav(role="navigation")
                    label.toggle-button(for="menu-checkbox" onclick)&attributes({'data-open':"MENU"},{'data-close':"CLOSE"})
                    ul.main-menu
                        li
                            a(href="#") Main
                        li
                            a(href="#") About
                        li
                            a(href="#") Services
                        li
                            a(href="#") Feedbacks
                input.order-button(type="button" name="order" value="Make an appoinment")
        main
            section.top-slide
                .top-container
                    div
                        h2 WE HELP
                    div
                        h2 YOUR ANIMALS
                    div
                        p and it will expensive
                    div
                        p but it will be high quality
                    div
                        p so your animal will really appreciate it
                    div
                        p and it will be happy
            section.about
                .about-container
                    h3 WE TREAT ANIMALS.
                    h3 ANY.
                    p The first in the Samara veterinary clinic "Blue Cross" will help your animals live happily ever after!
                    .about-cards
                        .card
                            .top-card
                                img(src=require("./images/history.jpg")
                                    alt="history"
                                    height="250px"
                                    width="300px")
                            .bottom-card
                                p.first-paragraph History of clinic
                        .card
                            .top-card
                                img(src=require("./images/interior.jpg")
                                    alt="interior"
                                    height="250px"
                                    width="300px")
                            .bottom-card
                                p.first-paragraph Interior
                        .card
                            .top-card
                                img(src=require("./images/equipment.jpg")
                                    alt="equipment"
                                    height="250px"
                                    width="300px")
                            .bottom-card
                                p.first-paragraph Equipment
            section.portfolio
                h4 OUR WORK
                p As you know we could help animals for your money.
                .toggles
                    button#showall SHOW ALL
                    button#treat TREATMENT
                    button#hair HAIRCUTS
                    button#nail NAIL CUTTING
                .posts
                    div.post.treat
                        img(src=require('./images/treatment_1.jpg')
                            alt="treatment"
                            width="300px")
                    div.post.treat
                        img(src=require('./images/treatment_2.jpg')
                            alt="treatment"
                            width="300px")
                    div.post.hair
                        img(src=require('./images/cutting.jpg')
                            alt="cutting"
                            width="300px")
                    div.post.nail
                        img(src=require('./images/nails_1.jpg')
                            alt="nails"
                            width="300px")
                    div.post.nail
                        img(src=require('./images/nails_2.jpg')
                            alt="nails"
                            width="300px")
                    div.post.nail
                        img(src=require('./images/nails_1.jpg')
                            alt="nails"
                            width="300px")
                    div.post.nail
                        img(src=require('./images/nails_2.jpg')
                            alt="nails"
                            width="300px")
                    div.post.hair
                        img(src=require('./images/cutting.jpg')
                            alt="cutting"
                            width="300px")
                    div.post.treat
                        img(src=require('./images/treatment_2.jpg')
                            alt="treatment"
                            width="300px")
            section.brand-slider
                h4 OUR SUPPLIERS
                p We use quality products from proven manufacturers.
                .owl-carousel
                    div
                        img(src=require('./images/aardman.png')
                            alt="aardman")
                    div
                        img(src=require('./images/animal-planet.png')
                            alt="animal-planet")
                    div
                        img(src=require('./images/cartoon-network.png')
                            alt="cartoon-network")
                    div
                        img(src=require('./images/evernote.png')
                            alt="evernote")
                    div
                        img(src=require('./images/studio-ghibli.png')
                            alt="studio-ghibli")
                    div
                        img(src=require('./images/dreamworks.png')
                            alt="dreamworks")
                    div
                        img(src=require('./images/aardman_star.png')
                            alt="aardman_star")
            //- .sidebar 
            //-     h3 Наши отзывы
            //-     blockquote Очень довольны обслуживанием в этой клинике! Стерилизация прошла быстро и безболезненно
            //-     cite Валентина Украинцева 
            //-     blockquote Пришли сюда и не пожалели потраченных денег! Поразительный сервис, профессионализм врачей просто зашкаливает!
            //-     cite Вячеслав Жмышенко
            //- .order
            //-     label(for="name")
            //-         input#name(
            //-             type="text"
            //-             value="Имя"            
            //-         )
            //-     label(for="surname")
            //-         input#surname(
            //-             type="text"
            //-             value="фамилия"
            //-         )
            //-     label(for="phone")
            //-         input#phone(
            //-             type="tel"                
            //-         )
            //-     label(for="comment")
            //-         textarea#comment Ваш комментарий
            //- footer.site-footer 
            //-     .inner-grid-footer
            //-         img.title-logo(
            //-             src=require("./images/cross.png") 
            //-             alt="cross"
            //-             width="80px"
            //-             height="80px")
            //-         h1.header Клиника "Синий Крест"
            //-         h3.contacts-text Контакты:
            //-         ul.contacts                                       
            //-             a(href="#") 
            //-                 li VK
            //-             a(href="#")    
            //-                 li TG
            //-             a(href="#")
            //-                 li IG
            //-         h4.city-and-phone Самара, 2018 |  +7 (956) 500 43 54
    block scripts
        script(src="/node_modules/jquery/dist/jquery.js") 
        script(src="/node_modules/owl.carousel/dist/owl.carousel.min.js")    